	col {
     width:150; 
  } 
table   {
border:1px solid #CCC;
width: 100%;
margin: 0;
padding: 0;
border-collapse: collapse;
border-spacing: 0;
} 

 table tr {
     border:1px solid #ddd; 
     padding: 5px;
     background-color: #FFFFFF;
  } 

 table th, table td {
     padding: 10px; 
     text-align: center;
  } 

table tr:nth-child(even){
   background-color:#F5F5DC;
   color:gray;
  } 
  table th {
     font-weight: bold; 
     text-transform: uppercase;
     font-family: 18px;
     letter-spacing: 1px;
  } 
  
  
  tbody tr:hover{
     background-color: #949FCA; 
  } 


